<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="background-color: lightslategray">
    <div class="container">
      <br />
      <h1 class="title">Red Multipunto</h1>
      <h2 class="introduccion">
        Son redes en las cuales cada canal de datos se puede usar para
        comunicarse con diversos nodos. En una red multipunto solo existe una
        línea de comunicación cuyo uso está compartido por todas las terminales
        en la red . La información fluye de forma bidireccional y es discernible
        para todas las terminales de la red. En este tipo de redes, las
        terminales compiten por el uso del medio (línea) de forma que el primero
        que lo encuentra disponible lo acapara, aunque también puede negociar su
        uso. Es decir, en términos más sencillos: permite la unión de varios
        terminales a su computadora compartiendo la única línea de transmisión,
        su principal ventaja consiste en el abaratamiento de costos, aunque
        puede perder velocidad y seguridad.
      </h2>
      <img
        src="https://www.vilarrasa.com.ar/lab_frame_relay_archivos/image004.jpg"
        class="img-fluid"
        alt="Responsive image"
      />
      <br />
    </div>
  </body>
</html>
