.title {
  text-align: center;
  color: black;
  background-color: lightslategrey;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 250%;
  margin-top: -10px;
}

.introduccion {
  text-align: justify;
  color: black;
  background-color: lightslategray;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 150%;
  margin-top: -10px;
}

.container {
  background-color: lightslategray;
  margin-top: -10px;
}

.col-sm-3 {
  text-align: left;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 150%;
}

.col-sm-9 {
  text-align: justify;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: -20px;
}

.context-css {
  text-align: justify;
  font-size: 130%;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
