<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body style="background-color: lightslategray">
    <div class="container">
      <h1 class="title">Subsistemas de cableado estructurado</h1>
      <h2 class="introduccion">
        En instalaciones de redes de área local con cierta envergadura de
        cableado estructurado, este se divide en subsistemas más pequeños, cada
        uno de los cuales con una función determinada dentro del sistema global.
      </h2>
      <br />
      <h2 class="introduccion">
        Los subsistemas de cableado estructurado son:
      </h2>
      <br />

      <dl class="row">
        <dt class="col-sm-3">Entrada de edificio (acometida)</dt>
        <dd class="col-sm-9">
          <h1 class="context-css">
            Este subsistema engloba a los cables, hardware de conexión,
            elementos de protección y equipo necesario para conectar las
            posibles instalaciones de proveedores externos con el sistema de
            cableado estructurado de la red local.
          </h1>
          <hr />
        </dd>

        <dt class="col-sm-3">Cuarto de equipos</dt>
        <dd class="col-sm-9">
          <h1 class="context-css">
            El cuarto de equipos tiene como función principal la de alojar el
            equipamiento necesario para distribuir los servicios de
            telecomunicaciones a puntos intermedios de distribución, situados
            generalmente en cada una de las zonas diferenciadas de la
            instalación, que en edificios de varias plantas coinciden con estas
            y son denominados armarios de telecomunicaciones.
          </h1>
          <hr />
        </dd>
        <hr />
        <dt class="col-sm-3 text-truncate">Cableado vertical o Backbone</dt>
        <dd class="col-sm-9">
          <h1 class="context-css">
            El cableado vertical o backbone posibilita la interconexión entre
            los diferentes armarios de telecomunicaciones, el cuarto de equipo y
            la entrada al edificio, incluyendo los cables, las terminaciones
            mecánicas y los cordones de parcheo para realizar las conexiones
            backbone a backbone.
          </h1>
          <hr />
        </dd>
        <dt class="col-sm-3 text-truncate">Armario de Telecomunicaciones</dt>
        <dd class="col-sm-9">
          <h1 class="context-css">
            Este armario tiene como función principal la de concentrar las
            terminaciones de todo tipo de cable horizontal reconocido por el
            estándar. Los cables de backbone también son terminados aquí con el
            fin de extender servicios de telecomunicaciones hacia las áreas de
            trabajo.
          </h1>
          <hr />
        </dd>
        <dt class="col-sm-3 text-truncate">
          Cableado Horizontal (distribución)
        </dt>
        <dd class="col-sm-9">
          <h1 class="context-css">
            El cableado horizontal o de distribución es la parte del sistema que
            va desde el área de trabajo hasta la conexión cruzada horizontal en
            el armario de telecomunicaciones. El cableado horizontal incluye los
            cables de distribución, las salidas de telecomunicaciones en el área
            de trabajo, las terminaciones mecánicas del cable y los cordones de
            parcheo en el armario de telecomunicaciones.
          </h1>
          <hr />
        </dd>
        <dt class="col-sm-3 text-truncate">Área de Trabajo</dt>
        <dd class="col-sm-9">
          <h1 class="context-css">
            Los componentes del área de trabajo son los existentes entre la
            salida del armario de telecomunicaciones y el equipo del usuario.
            Esta parte de la instalación no está incluida en el estándar.
          </h1>
        </dd>
      </dl>
    </div>
    <img
      src="https://ikastaroak.ulhi.net/edu/es/IEA/ICTV/ICTV10/es_IEA_ICTV10_Contenidos/ICTV10_CONT_R54_pic028_mini.jpg"
      class="img-fluid"
      alt="Responsive image"
    />
    <br />
    <br />
    <br />
  </body>
</html>
