<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="background-color: lightslategray">
    <div class="container">
      <br />
      <h1 class="title">Red Punto A Punto</h1>
      <h2 class="introduccion">
        Una red punto a punto es una red de computadoras en la que todos o
        algunos aspectos funcionan sin clientes ni servidores fijos, sino una
        serie de nodos que se comportan como iguales entre sí. Las redes punto a
        punto permiten el intercambio directo de información, en cualquier
        formato, entre los ordenadores interconectados. redes superpuestas
        construidas en la capa de aplicación de redes públicas como Internet
      </h2>
      <img
      src="http://3.bp.blogspot.com/-34ldHlYD8dk/TqX-qg0TDRI/AAAAAAAAAo8/eCrftjPUN1E/s1600/modelo_punto_a_punto_p2p.png"
      class="img-fluid"
      alt="Responsive image"
    />
      <br />
    </div>
  </body>
</html>
